Package: nimoos-subscreen
Version: VERSION_PLACEHOLDER
Section: utils
Priority: optional
Architecture: amd64
Depends: libusb-1.0-0-dev, libhidapi-hidraw0
Maintainer: NimoTech Ltd.
Description: NimoOS Subscreen Panel Service
  This package provides the subscreen panel service for NimoOS.
